:root {
  --bg-color: #433455;
  --cards-color: #666092;
  --buttons-color: #433455;
  --text-color: #faf3dd;
}

@font-face {
    font-family: AuX_DotBitC;
    src: url(AuX_DotBitC.ttf);
}
@font-face {
    font-family: FFFFORWA;
    src: url(FFFFORWA.ttf);
}

h1, h2 {
	font-family: 'FFFFORWA', cursive;
	font-size: 50px;
	color: var(--text-color);
}
.title {
	text-align: center;
	font-family: 'AuX_DotBitC', cursive;

}
p {
	font-family: 'AuX_DotBitC', cursive;
	font-size: 25px;
	color: var(--text-color);
}
body {
	background: var(--bg-color);
	text-align: center;
	margin: 75px;
}
.text_in_card {
	float: left;
	width: 100%;
}
.img-in-card{
	width: 100%;
	height: auto;
}
.card-left {
	margin-left: 5%;
	float: left;
	display: inline-flex;
	background-color: var(--cards-color);
	width: 20%;
	height: auto;
	border-radius: 20px;
}
.card-center {
	display: inline-flex;
	background-color: var(--cards-color);
	width: 24%;
	height: auto;
	border-radius: 20px;
}
.card-right {
	margin-right: 5%;
	display: inline-flex;
	float: right;
	background-color: var(--cards-color);
	width: 20%;
	height: auto;
	border-radius: 20px;
}
.buttons {
	background-color: var(--cards-color);
	align-content: center;
	width: 100%;
	align-content: center;
	align-items: center;
	flex: max(100, 100);
}

.left-text {
	float: left;
	width: 45%;
	height: max;
	border-radius: 20px;
}
.right-text {
	float: right;
	width: 45%;
	height: max;
	border-radius: 20px;
}

img {
	border-radius: 80px 80px 80px 80px;
-moz-border-radius: 80px 80px 80px 80px;
-webkit-border-radius: 80px 80px 80px 80px;
border: 0px solid #000000;
}

button {

                    display: inline-block;
                    outline: none;
                    cursor: pointer;
                    border-radius: 3px;
	                font-family: 'AuX_DotBitC', cursive;
	                font-size: 35px;
                    font-weight: 500;
                    line-height: 16px;
                    padding: 2px 16px;
                    height: 38px;
                    min-width: 96px;
                    min-height: 38px;
                    border: none;
                    color: var(--text-color);
                    background-color: var(--buttons-color);
                    transition: background-color .17s ease,color .17s ease;


}
button:hover {
                        background-color: var(--cards-color);
                    }
/*card*/


.card img {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.card:hover img {
  top: -10px;
}
.card p {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.d

.card:hover p {
  top: -10px;
}
.inline_button{
	margin: 10px;
	flex: max(100, 100);
}